* {
            box-sizing: border-box;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        }

        body {
            margin: 0;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            background-color: #DBE6FD;

        }

        /* Header - scritta */
        .header {
            background: #DBE6FD;
            padding: 15px;
            text-align: center;
            font-size: 25px;
            color: #293B5F;
        }

        /* Navbar */
        .topnav {
            overflow: hidden;
            background-color: #293B5F;
            position: sticky;
            top: 0;
        }

        /* Links navbar */
        .topnav a {
            float: right;
            display: block;
            color: #ebeffa;
            text-align: center;
            padding: 15px 30px;
            text-decoration: none;
        }

        /* Colore mouse */
        .topnav a:hover {
            background-color: #ebeffa;
            color: #293B5F;
        }

        /* Colonne */
        .column {
            float: left;
            width: 50%;
            padding: 10px;

        }

        /* Clear floats after the columns CONTROLLO*/
        .row:after {
            content: "";
            display: table;
            clear: both;
        }


        /*CONTROLLO*/
        div,
        input,
        select,
        textarea,
        label {
            padding: 0;
            margin: 0;
            outline: none;
            font-size: 15px;

        }

        /*Dimensione campi*/
        input,
        select,
        textarea {
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        input {
            width: calc(50% - 10px);
            padding: 15px;
        }

        /*Passaggio mouse sui campi*/
        .item input:hover,
        .item textarea:hover {
            border: 1px solid transparent;
            box-shadow: 0 0 3px 0 #669999;
            color: #669999;
        }


        /*Dimensione box compila*/
        .testbox {
            display: flex;
            justify-content: center;
            align-items: center;
            height: inherit;
            padding: 20px;
        }

        /*Area richiesta*/
        textarea {
            width: calc(100% - 20px);
            padding: 12px;
        }

        /*Per non allungare la textarea*/
        textarea {
            resize: none;
        }

        /*Pulsante*/
        .btn-block {
            margin-top: 10px;
            text-align: center;
        }

        button {
            width: 150px;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background: #293B5F;
            font-size: 16px;
            color: #fff;
            cursor: pointer;
        }

        /*Passaggio mouse pulsante*/
        button:hover {
            background: #a3c2c2;
        }

        /*CONTROLLO*/
        label {
            color: gray;
        }

        /*Contatti*/
        .column2 {
            background-size: cover;
            border-radius: 12px 12px 12px 12px;
            border-width: 1px 1px 1px 1px;
            border-color: #fff;
            border-style: solid;
            overflow: hidden;
            box-shadow: 0px 10px 51px 3px rgba(0, 0, 0, 0.15);
            padding: 20px 20px;

            width: 300px;
            height: 300px;
            position: absolute;
            top: 50%;
            left: 75%;
            margin-top: -100px;
            margin-left: -100px;

        }

        .content {
            font-size: 18px;
            color: #293B5F;
            text-align: left;
        }

        ul {
            list-style-type: none;
        }


        /*PROVA*/

        * {
            box-sizing: border-box;
          }
  
        .box {
            float: left;
            width: 40%;
            position: relative;
        }
        
        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }

        .image {
            display: block;
            width: 100%;
            height: auto;
        }

        .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .5s ease;
            background-color: #293B5F;
           
        }

        .box:hover .overlay {
            opacity: 1;
        }

        .text {
            color: white;
            font-size: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
        } 

        /* Footer */
        .left {
            text-align: left;
            float: left;
        }

        .right {
            float: right;
            text-align: right;
        }

        .centered {
            text-align: center;
        }